# Assignment - 20

1. Set the variable test1 to the string &#39;This is a test of the emergency text system,&#39; and save test1 to a
file named test.txt.

In [1]:
test1 = 'This is a test of the emergency text system,'

with open('test.txt', 'w') as file:
    file.write(test1)

In [5]:
test1

'This is a test of the emergency text system,'

2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1
and test 2?

In [9]:
file2 = open('test.txt','r')
test2 = file2.readline()
test2

'This is a test of the emergency text system,'

3. Create a CSV file called books.csv by using these lines:
    
title,author,year

The Weirdstone of Brisingamen,Alan Garner,1960

Perdido Street Station,China Miéville,2000

Thud!,Terry Pratchett,2005

The Spellman Files,Lisa Lutz,2007

Small Gods,Terry Pratchett,1992

To create a CSV file called books.csv with the specified lines:

In [10]:
import csv

data = [
    ['title', 'author', 'year'],
    ['The Weirdstone of Brisingamen', 'Alan Garner', '1960'],
    ['Perdido Street Station', 'China Miéville', '2000'],
    ['Thud!', 'Terry Pratchett', '2005'],
    ['The Spellman Files', 'Lisa Lutz', '2007'],
    ['Small Gods', 'Terry Pratchett', '1992']
]

filename = 'books.csv'

with open(filename, 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerows(data)

print(f"CSV file '{filename}' has been created.")

CSV file 'books.csv' has been created.

4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with
these fields: title (text), author (text), and year (integer).

To create a SQLite database called books.db and a table called books with the fields title (text), author (text), and year (integer), you can use the sqlite3 module in python.

In [11]:
import sqlite3

# Connect to the database (will create a new file if it doesn't exist)
conn = sqlite3.connect('books.db')

# Create a cursor object to execute SQL commands
cursor = conn.cursor()

# Create the books table
cursor.execute('''
    CREATE TABLE IF NOT EXISTS books (
        title TEXT,
        author TEXT,
        year INTEGER
    )
''')

# Commit the changes and close the connection
conn.commit()
conn.close()

print("SQLite database 'books.db' and the 'books' table have been created.")

SQLite database 'books.db' and the 'books' table have been created.

5. Read books.csv and insert its data into the book table.

In [12]:
import sqlite3
import csv

# Connect to the database
conn = sqlite3.connect('books.db')
cursor = conn.cursor()

# Read data from books.csv
with open('books.csv', 'r') as file:
    reader = csv.reader(file)
    next(reader)  # Skip the header row

    # Insert data into the books table
    for row in reader:
        title, author, year = row
        cursor.execute("INSERT INTO books (title, author, year) VALUES (?, ?, ?)", (title, author, year))

# Commit the changes and close the connection
conn.commit()
conn.close()

print("Data from 'books.csv' has been inserted into the 'books' table.")

Data from 'books.csv' has been inserted into the 'books' table.

6. Select and print the title column from the book table in alphabetical order.

In [13]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('books.db')
cursor = conn.cursor()

# Select and print the title column in alphabetical order
cursor.execute("SELECT title FROM books ORDER BY title ASC")
results = cursor.fetchall()
for row in results:
    print(row[0])

# Close the connection
conn.close()

Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!

7. From the book table, select and print all columns in the order of publication.

In [14]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('books.db')
cursor = conn.cursor()

# Select and print all columns in the order of publication
cursor.execute("SELECT * FROM books ORDER BY year ASC")
results = cursor.fetchall()
for row in results:
    print(row)

# Close the connection
conn.close()

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)

8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in
exercise 6.

In [15]:
from sqlalchemy import create_engine

# Create the SQLAlchemy engine
engine = create_engine('sqlite:///books.db')

# Connect to the database
connection = engine.connect()

# Perform database operations...

# Close the connection
connection.close()